<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="alert alert-danger" *ngIf="err!=''">
                <strong>{{err}}</strong>
            </div> 
          <form >
                <div class="txt_field">
                    <label>Veuillez entrer le code envoyé par mail</label>
                    <input type="text" name="code" [(ngModel)]="code"   class="form-control"   placeholder=" code de confirmation" >
                </div>
                
                <button    type="button"   class="btn btn-success mt-3"   (click)="onValidateEmail()" >S'insrire</button>
              </form>
        </div>
    </div>
</div>